.contentStyle  {
    margin: 0;
    height: 160px;
    color:#fff;
    line-height: 160px;
    text-align: center;
    background: '#364d79';
  }
.title_banner {
    color: #ff0000;
    font-size: 30px;
    font-weight: 600;
}
